body {
    background-color: #985F99;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.d-block {
    display: block;
}

.center {
    text-align: center;
}

.flex {
  display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}


.justify-s-b {
    justify-content: space-between;
}

.justify-c {
    justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.accent {
    color: #BFEDC1;
}

.warning_color {
    color: #FE5F55;
}

.success_color {
    color: #5C80BC;
}

.header {
    padding: 20px 0;
}

.logo {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #BFEDC1;
}

.menu {
    font-size: 16px;
}

.menu_link {
    margin-right: 30px;
    color: #FBFFFE;
    font-weight: 500;
    transition: all 0.3s;
}

.menu_link:hover {
    color: #BFEDC1;
}

.menu_link:last-child {
    margin-right: 0;
}

.hero {
    height: 70vh;
    padding: 30px 0;
}

.title {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 800;
    color: #BFEDC1;
}

.button_wrapper {
    gap: 20px;
    margin-top: 30px;
}

.button {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    color: #FBFFFE;
}

.btn-primary {
    background: #FFCB47;
}

.btn-secondary {
    background: #3A506B;
}

.main {
    padding: 30px 0;
}

.inner_title {
    font-size: 20px;
    font-weight: 600;
    color: #FBFFFE;
}

.event {
    padding: 12px 20px;
    margin-bottom: 10px;
    background: rgba(191, 237, 193, 0.2);
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}

.event_info {
    flex: 1;
}

.event_title {
    font-weight: 500;
    color: #FBFFFE;
}

.event_title:hover {
    color: #BFEDC1;
}

.event_date {
    color: #BFEDC1;
}

.event_text {
    color: #0A0903;
}

.event_form {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.event_form input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #FBFFFE;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #0A0903;
    outline: none;
    border-radius: 4px;
}

.event_form .add {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 10px;
    background: #BFEDC1;
    border-radius: 4px;
    color: #985F99;
    cursor: pointer;
    border: none;
    outline: none;
}

.event_register {
    align-self: flex-end;
    margin-top: 20px;
}

.event_item {
    width: 20%;
}

.event_item:first-child {
    width: 10%;
}

.event_item input {
    width: 100%;
    max-width: 150px;
    padding: 6px 10px;
    background: #FBFFFE;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #0A0903;
    outline: none;
    border-radius: 4px;
}

.event_submit {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 10px;
    background: #BFEDC1;
    border-radius: 4px;
    color: #985F99;
    cursor: pointer;
    border: none;
    outline: none;
}

.actions_form {
    gap: 8px;
}

.event_details {
    gap: 30px;
    padding: 20px 22px;
    background: rgba(191, 237, 193, 0.2);
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}

.event_details .actions_form {
    margin-top: 16px;
}

.event_description {
    padding: 0 20px;
    border-left: 1px solid #985F99;
}

.sorting_icons {
    display: inline-block;
    margin-left: 4px;
}

.arrow_icon {
    width: 12px;
    height: 12px;
}

.filters {
    width: 100%;
}

.filters input, textarea {
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    background: #FBFFFE;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #0A0903;
    outline: none;
    border-radius: 4px;
}

.filter_submit {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    background: #BFEDC1;
    border-radius: 4px;
    color: #0A0903;
    cursor: pointer;
    border: none;
    outline: none;
}

.filters_wrapper {
    margin-bottom: 20px;
}

.filter_select {
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: #FBFFFE;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #0A0903;
    outline: none;
    border-radius: 4px;
}

.filters_form {
    width: 400px;
}